{% extends "layout.html" %}

{% block title %}
    Latest
{% endblock %}

{% block main %}
{% if playlists %}
<div class="main-latest">
    <div class="card-grid">
        {% for playlist in playlists %}
            <div class="card">
                <a href="playlist/{{ playlist.spotify_id }}">
                    {% if playlist.img %}
                        <img class="card-img" src="{{ playlist.img }}" alt="">
                    {% else %}
                        <img class="card-img" src="/static/assets/no.png" alt="">
                    {% endif %}
                </a>
                <div class="card-info">
                    <a href="playlist/{{ playlist.spotify_id }}">
                        <h3 class="card-name">{{ playlist.name }}</h3>
                    </a>
                    <span class="card-anount">{{ number }}</span>
                    <span class="card-id">{{ playlist.spotify_id }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}