{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block main %}
    <form action="/add_cash" method="POST">
        <div class="form-row row-cols-md-2">
            <div class="col col-12" style="text-align:right;">
                <input name="cash" class="form-control" placeholder="How Mutch?" type="number">
            </div>
            <div class="col col-12" style="text-align:left;">
                <button class="btn btn-primary" type="submit">ADD</button>
            </div>
        </div>
    </form>
{% endblock %}